http:
  middlewares:
    internal-ipallowlist:
      ipAllowList:
        sourceRange:
          - {{ subnet }}
          - {{ wg_subnet }}

    default-hsts:
      headers:
        customResponseHeaders:
          Strict-Transport-Security: "max-age=63072000; includeSubDomains; preload"
        sslRedirect: true
        sslForceHost: true

  routers:
    homeassistant:
      entryPoints:
        - https
      rule: "Host(`homeassistant.johnflix.uk`)"
      service: homeassistant
      middlewares:
        - default-hsts
        - authentik@docker
      tls:
        certResolver: letsencrypt

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://192.168.1.11:8123"
