http:
  middlewares:
    crowdsec:
      plugin:
        bouncer:
          enabled: true
          defaultDecisionSeconds: 60
          crowdsecMode: live
          crowdsecAppsecEnabled: true # <--- here you can enable appsec waf
          crowdsecAppsecHost: crowdsec:7422
          crowdsecAppsecFailureBlock: true
          crowdsecAppsecUnreachableBlock: true
          crowdsecLapiKey: {{ CROWDSEC_API }}
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiScheme: http
          crowdsecLapiTLSInsecureVerify: false
          forwardedHeadersTrustedIPs:
            # private class ranges
            - {{ wg_subnet }}
            - {{ subnet }}
            - 172.16.0.0/12
          clientTrustedIPs:
            - {{ wg_subnet }}
            - {{ subnet }}
            - 172.16.0.0/12

    internal-ipallowlist:
      ipAllowList:
        sourceRange:
          - {{ subnet }}
          - {{ wg_subnet }}

    default-hsts:
      headers:
        customResponseHeaders:
          Strict-Transport-Security: "max-age=63072000; includeSubDomains; preload"
        sslRedirect: true
        sslForceHost: true

  routers:
    homeassistant:
      entryPoints:
        - https
      rule: "Host(`homeassistant.johnflix.uk`)"
      service: homeassistant
      middlewares:
        - default-hsts
        - authentik@docker
      tls:
        certResolver: letsencrypt

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://192.168.1.11:8123"
