api:
  dashboard: true

entryPoints:
  http:
    address: ":80"
    forwardedHeaders:
      trustedIPs:
        - 192.168.1.0/16
        - 10.253.0.0/24

  https:
    address: ":443"
    http:
      tls: {}
    forwardedHeaders:
      trustedIPs:
        - 192.168.1.0/16
        - 10.253.0.0/24

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    {% raw -%}
    defaultRule: 'Host(`{{ index .Labels "com.docker.compose.service" }}.johnflix.uk`)'
{%- endraw %}
    
    network: web

certificatesResolvers:
  http:
    acme:
      email: "{{ EMAIL }}"
      storage: acme.json
      httpChallenge:
        entryPoint: http
  letsencrypt:
    acme:
      email: "{{ EMAIL }}"
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory # TODO: https://acme-v02.api.letsencrypt.org/
      storage: acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"

serversTransport:
  insecureSkipVerify: false

https:
  middlewares:
    internal-ipallowlist:
      ipWhitelist:
        sourceRange:
          - "192.168.1.0/16"
          - "10.253.0.0/24"
      # HSTS headers
    default-hsts:
      headers:
        customResponseHeaders:
          Strict-Transport-Security: "max-age=63072000; includeSubDomains; preload"
        sslRedirect: true
        sslForceHost: true


tls:
  # Apply default TLS settings for all routers
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305

accessLog:
  filePath: "/logs/access.log"
  fields:
    headers:
      names:
        User-Agent: keep

log:
  filePath: "/logs/traefik.log"
  level: DEBUG
