http:
  middlewares:
    secure:
      chain:
        middlewares:
          - default-hsts
          - ratelimit
          - crowdsec
          - authentik@docker
    crowdsec:
      plugin:
        bouncer:
          Enabled: true
          DefaultDecisionSeconds: 60
          CrowdsecMode: live
          CrowdsecAppsecEnabled: true
          CrowdsecAppsecHost: {{ local_ip }}:7422
          CrowdsecAppsecFailureBlock: true
          CrowdsecAppsecUnreachableBlock: true
          CrowdsecLapiKey: {{ CROWDSEC_API }}
          CrowdsecLapiHost: {{ local_ip }}:9876
          CrowdsecLapiScheme: http
          CrowdsecLapiTLSInsecureVerify: false
          ForwardedHeadersTrustedIPs:
            - {{ wg_subnet }}
            - {{ subnet }}
            - 172.16.0.0/12
          ClientTrustedIPs:
            - {{ wg_subnet }}
            - {{ subnet }}
            - 172.16.0.0/12

    internal-ipallowlist:
      ipAllowList:
        sourceRange:
          - {{ subnet }}
          - {{ wg_subnet }}

    default-hsts:
      headers:
        customResponseHeaders:
          Strict-Transport-Security: "max-age=63072000; includeSubDomains; preload"
        sslRedirect: true
        sslForceHost: true

    ratelimit:
      rateLimit:
        average: 100
        burst: 50

  routers:
    homeassistant:
      entryPoints:
        - https
      rule: "Host(`homeassistant.{{ domain }}`)"
      service: homeassistant
      tls:
        certResolver: letsencrypt
      middlewares:
          - default-hsts
          - ratelimit
          - authentik@docker
    homeassistant-app-auth:
      rule: "Host(`homeassistant.{{ domain }}`) && ( (PathPrefix(`/auth/`)) && !(PathPrefix(`/auth/token`)) )"
      service: homeassistant
      tls: true
      entryPoints:
        - https
      middlewares:
          - default-hsts
          - ratelimit
          - authentik@docker

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://192.168.1.11:8123"
        passHostHeader: false